
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <main>
        <article class="mx-5">
            <h3 class="mb-5 text-center margin-user text-shadow-drop-right">Récupérez votre mot de passe ici !</h3>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
                <section class="text-danger">{{ form_errors(form) }}</section>
                <section class="form-group">
                    <div class="text-danger">{{ form_errors(form.email) }}</div>
                    {{ form_label(form.email) }}
                    <div>{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.email) }}</small>
                </section>        
                <button class="btn btn-outline-primary" type="submit">Recupérez</button>
            {{ form_end(form) }}
        </article>
    </main>
 {% include 'footer.html.twig' %}
   
{% endblock %}