<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <figure>
            <a class="navbar-brand" href="#"><img src="" alt="logo"></a>
            <figcaption>Ucommerce</figcaption>
        </figure>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="menu navbar-nav mr-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link header-link" href="{{ path('profile', {id: app.user.id }) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-link" href="{{ path('app_logout') }}">Deconnection</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link header-link" href="{{ path('app_login') }}">Connection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link header-link" href="{{ path('user_index')}} ">Utilisateurs</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>