{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% include 'flash.html.twig' %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Utilisateurs</h1>

        <button id="myInput" type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#exampleModal">
            Rechercher un utilisateur
        </button>
          
          <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Recherche</h5>
                        <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                                <section class="text-danger">{{ form_errors(form) }}</section>
                                <section class="form-group">
                                    <div class="text-danger">{{ form_errors(form.pseudo) }}</div>
                                    <label>{{ form_label(form.pseudo) }}</label>
                                    <div>{{ form_widget(form.pseudo, { 'attr': {'class': 'form-control'} }) }}</div>
                                    <small class="form-text text-muted">{{ form_help(form.pseudo) }}</small>
                                </section>
                                <button class="btn btn-primary mb-5 mt-3">{{ button_label|default('Rechercher') }}</button>
                            {{ form_end(form) }}
                        </div>
                        <div class="modal-footer">
                        <button id="closeFooter" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% if users != null %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Pseudo</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% set utilisateur = ["ROLE_USER"] %}
                {% set admin = ["ROLE_ADMIN", "ROLE_USER"] %}
                {% set admine = ["ROLE_USER", "ROLE_ADMIN"] %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.pseudo }}</td>
                        <td class="d-flex justify-content-between">                            
                            {{ include('user/delete_user.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}    
                </tbody>
            </table>
        {% else %}
            
            <p class="mt-5">Vous pouvez rechercher des utilisateurs :</p>
            <ul class="mb-5">
                <li>Tous les utilisateur(pas de nom et prénom et demande),</li>
                <li>Par nom et prénom(saisie du nom et prénom),</li>
                <li>Par demande pour être administrateur(saisaie de la demande);</li>
            </ul>
        {% endif %}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}